<main>
    <h1 class="text-center text-uppercase">Hello world!</h1>
    <h2 class="text-end text-lowercase">Second</h2>
    <h3 class="text-capitalize">third one two</h3>

    <hr>

    <div class="display-1 text-muted">hello world!</div>
    <div class="display-5 ">second</div>
    <div class="display-6">third</div>

    <hr>

    <div class="text-end">
        Додатковий <span class="display-6 text-muted"> текст</span>
    </div>

    <hr>

    <button class="btn btn-secondary">secondary button</button> 
    <button class="btn btn-primary"> 
        <span class="text-uppercase"> button primary</span>
    </button> 
    <button class="btn btn-success">success button</button> 
    <button class="btn btn-danger">danger button</button> 
    <button class="btn btn-warning">warning button</button> 
    <button class="btn btn-info">btn-info</button>
    <button class="btn btn-light">btn-light</button>
    <button class="btn btn-dark">btn-dark</button>
    <button class="btn btn-link">btn-link</button>

    <hr>

    <p class="text-primary">text-primary</p>
    <p class="text-succes">text-succes</p>
    <p class="text-secondary">text-secondary</p>
    <p class="text-danger">text-danger</p>
    <p class="text-warning">text-warning</p>
    <p class="text-info">text-info</p>
    <p class="text-light">text-light</p>
    <p class="text-dark">text-dark</p>

    <hr>

    <button class="btn btn-outline-secondary">secondary button</button> 
    <button class="btn btn-outline-primary"> button primary</button> 
    <button class="btn btn-outline-success">success button</button> 
    <button class="btn btn-outline-danger">danger button</button> 
    <button class="btn btn-outline-warning">warning button</button> 
    <button class="btn btn-outline-info">btn-info</button>
    <button class="btn btn-outline-light">btn-light</button>
    <button class="btn btn-outline-dark">btn-dark</button>
    <button class="btn btn-outline-link">btn-link</button>

    <hr>

    <button class="btn btn-lg btn-primary">btn-lg</button>
    <button class="btn btn-sm btn-primary">btn-sm</button>

    <hr>
    
    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>

</main>