<main class="p-5">
  <h1>Hello!<i class="bi bi-android2"></i><i class="fa-brands fa-slack fa-flip fa-2xl" style="color: #f14309;"></i></h1>
  <h5>Hi!<i class="bi bi-android2"></i></h5>
  <button class="btn btn-primary">
    <i class="bi bi-android2"></i>
  </button>
  <p>
    <img src="/svg/slack.svg" alt="">
  </p>
  <i class="bi bi-calendar-check"></i>
  <p class="my-4"><i class="fa-brands fa-slack fa-2xl" style="color: #f14309;"></i></p>
  <i class="bi bi-android2"></i>  
</main>