{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<main>
  <h3>Список сторінок</h3>
  <p>Мої сторінки виконані під час навчання в IT Brain</p>
  <div class="col-12">
    <div class="row g-2">
      <a class="btn btn-primary col-3 m-2" href="/bio">bio</a>
      <a class="btn btn-primary col-3 m-2" href="/car">car</a>
      <a class="btn btn-primary col-3 m-2" href="/education">education</a>
      <a class="btn btn-primary col-3 m-2" href="/facebook">facebook</a>
      <a class="btn btn-primary col-3 m-2" href="/js">js</a>
      <a class="btn btn-primary col-3 m-2" href="/mac">mac</a>
      <a class="btn btn-primary col-3 m-2" href="/person">person</a>
      <a class="btn btn-primary col-3 m-2" href="/program">program</a>
      <a class="btn btn-primary col-3 m-2" href="/shopcart">shopcart</a>
      <a class="btn btn-primary col-3 m-2" href="/shopcatalog">shopcatalog</a>
      <a class="btn btn-primary col-3 m-2" href="/shophome">shophome</a>
      <a class="btn btn-primary col-3 m-2" href="/shopnews">shopnews</a>
      <a class="btn btn-primary col-3 m-2" href="/shoporder">shoporder</a>
      <a class="btn btn-primary col-3 m-2" href="/shopreview">shopreview</a>
      <a class="btn btn-primary col-3 m-2" href="/skills">skills</a>
      <a class="btn btn-primary col-3 m-2" href="/summary">summary</a>
      <a class="btn btn-primary col-3 m-2" href="/task21">task21</a>
      <a class="btn btn-primary col-3 m-2" href="/task22">task22</a>
      <a class="btn btn-primary col-3 m-2" href="/task31">task31</a>
      <a class="btn btn-primary col-3 m-2" href="/web">web</a>
      <a class="btn btn-primary col-3 m-2" href="/work">work</a>
    </div>
  </div>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}